[Unit]
Description=NanoRTK Base Station Web Service
After=network.target

[Service]
# 运行用户，安装脚本会自动替换为当前执行 sudo 的用户，或者你也可以写死为 pi
User={{USER}}
Group={{USER}}

# 动态工作目录
WorkingDirectory={{PROJECT_DIR}}

# 启动命令 (指向虚拟环境中的 python)
ExecStart={{PROJECT_DIR}}/.venv/bin/python {{PROJECT_DIR}}/web_runner.py

# 崩溃自动重启配置
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target